.navbar {
    height: 58px;
    position: relative;
    z-index: 50;
    box-shadow: 0 0 4px #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        align-items: center;
        .action-link {
            margin: 0 3px;
        }
    }
    .right {
        display: flex;
        align-items: center;
        .col {
            display: flex;
        }
        .user-info {
            display: flex;
            .txt {
                font-size: 11px;
                font-weight: 700;
                display: flex;
                align-items: center;
                span {
                    margin-right: 5px;
                    display: block;
                    text-transform: uppercase;
                    color: #999;
                    font-weight: 900;
                    font-size: 11px;
                }
            }
        }
    }
    .action-link {
        margin: 0 15px;
        display: flex;
        align-items: center;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            opacity: 0.75;
        }
        .icon {
            width: 20px;
            height: 20px;
            position: relative;
            margin-right: 10px;
            &.icon--plus {

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform-origin: 50% 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 2px;
                    background-color: $color--primary;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform-origin: 50% 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    width: 100%;
                    height: 2px;
                    background-color: $color--primary;
                }
            }
                 
        }
        .txt {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color--primary;
        }
    }
    .logo {
    }
    .searchbar {
        flex: 0 0 400px;
    }

}
.navbar__fix-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar--spacer {
    padding: 13px 30px;
}
.navbar--theme {
    background-color: $white;
    border-top: 1px solid $color--primary;
    border-bottom: 1px solid $color--primary;
}