$theme: #f96331;
$white: #fff;
$black: #000;

$txtColor: #595959;

// $primary: #2962ff;
// $primary: #41419f;
// $primary: #F57450;
// $primary: $theme;
$primary: #f96331;
$color__primary: $primary;

$color--light: #0f0d0d;

$color__primary--light: #4f4fac;
$color__btn: #4587ff;
$color__filler: #f2f2f2;
$color__filler--dark: #dadada;
$secondary: #5162d2;
// $color--secondary: #5162d2;
$color--secondary: #F57450;

$smooth: cubic-bezier(.5,.29,.95,.77);
